body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.zoom-container {
  overflow: hidden;
  position: relative;
}
#container{
  background-color: black;
  padding: 20px;
}
#zoomImage {
  transition: transform 0.5s, top 0.5s, left 0.5s;
}

#zoomImage:hover {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}
